/* page formatting */
* {
    font-family: 'Mukta', sans-serif;
    /*font-family: "Figtree", sans-serif;*/
    color: #FAF1E4;
    /*outline: solid 1px red;*/
}

html {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;  
}

body{
    background-color: #9EB384;
    margin: 0;
}

h1 {
    color: #9EB384;
}

h2 {
    border-bottom: #FAF1E4 1px solid;
    font-family: 'DM Serif Display', serif;
    font-weight: 100;
}

h3 {
    font-family: 'DM Serif Display', serif;
    font-weight: 100;
}

p{
    font-size: 1.1rem;
}

.title {
    font-size: 3rem;
    font-family: 'DM Serif Display', serif;
    font-weight: 100;
}


.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .12em solid #9EB384; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}

.typewriter-container {
    width: max-content;
}

.non-typewriter {
    margin-bottom: 0;
}
  
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #9EB384; }
}



.subtitle {
    color: #9EB384;
    font-size: 1rem;
    width: 75%;
}

#profile-pic {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

footer {
    margin-top: 50px;
    text-align: center;
}

button {
    background-color: #9EB384;
    color: #FAF1E4;
    border: 0px;
    border-radius: 4px;
    text-align: center;
    transition-duration: 0.4s;
    padding: 7px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* button:active {
    background-color: #91B4DC;
    color: #FAF1E4;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  } */

/* hr {
    height: 0.5px;
    width: 100%;
    color: white;
    background-color: white;
} */

/* nav bar styling */
@media (min-width: 787px) {
    #nav {
        position: -webkit-sticky;
        position: sticky;
        overflow: hidden;
        background-color: #9EB384;
        padding: 1.5rem 8rem 1rem;
        max-width: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        border-bottom: 1px solid #FAF1E4;
        list-style-type: none;
        display: flex;
        align-items: center;

    }

    #nav-links {
        display: inline;
        float: right;
    }

    #nav a {
        font-family: 'DM Serif Display', serif;
        text-decoration: none;
        display: inline-block;
    }

    #nav-links a {
        font-size: 1.2rem;
        padding: 1rem 0rem 1rem 2rem;
    }

    #nav a:hover {
        /*text-decoration: underline;*/
        text-shadow: 4px 6px 6px rgba(0,0,0,0.24);
    }

    #nav a.icon {
        display: none !important;
    }

    #favicon {
        /*font-family: 'DM Serif Display', serif !important; */
        font-family: 'Fleur De Leah', cursive !important;
        font-weight: normal;
        font-size: 3rem;
        flex: 2;
    } 
    
    #nav a.icon {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
    } 
}

/*#nav {
    overflow: hidden;
    background-color: #9EB384;
    position: relative;
    border-bottom: 1px solid #FAF1E4;
}
  
#nav #nav-links {
    display: none;
}
  
#nav a {
    color: #FAF1E4;
    padding: 1.5rem 8rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    display: block;
}
  
#nav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.5rem;
}*/
  

/* image styling */
#profile-pic {
    border-radius: 10px;
}

#cherry-blossom {
    height: 0;
}

#cherry-blossom img {
    z-index: 1;
    width: 20rem;
    position: relative
}

#cherry-blossom-1 {
    top: -300px;
    left: -140px;
    float: left;
    animation: enter1 5s;
}

#cherry-blossom-2 {
    top: -525px;
    right: -129px;
    rotate: 180deg;
    float: right;
    animation: enter2 5s;
}

@keyframes enter1 {
    from {left: -450px} 
    to {left:-140px}
}

@keyframes enter2 {
    from {right: -450px} 
    to {right:-129px}
}

/*.blossoms {
    width: 3rem;
    margin-top: 1rem;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}*/

.cherry-blossom-flower {
    width: 25px;
    position: absolute;
    left: 150px;
}

.image-text-overlap {
    position: relative;
}

.logo-images {
    transition-duration: 0.4s;
    width: 26px;
    display: block;
}

.logo-images:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 100%;
}

.link-icon {
    width: 1.4rem;
}

/*.projects-img {
    position: relative;
}

.projects-banner {
    position: absolute;
    left: 11%;
}*/

.img-stack {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.projects-banner {
    grid-column: 1 / span 8;
    grid-row: 1;
    z-index: 1;
    width: 7rem;
}

.projects-img {
    grid-column: 4/-1;
    grid-row: 1;
}

/* flex container styling */
.vertical-flex-container {
    display: flex;
    flex-direction: column;
    margin: 2rem 8rem 1rem;
}

.v-fcard {
    padding-top: 6rem;
}

#home-flex-container {
    margin-top: 3rem;
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    background-color: #FAF1E4;
    border: 1px solid #FAF1E4;
    border-radius: 10px;
    padding: 1rem;
}

.home-text {
    width: 30%;
}

#logo-flex-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.about-flex-container {
    display: flex;
    gap: 6rem;
}

.projects-flex-container {
    display: flex;
    gap: 2rem;
}

.projects-banner, .projects-img {
    margin-left: 1rem;
    margin-top: 1.7rem;
    border-radius: 10px;
}

.projects-fcard .projects-img:hover {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);
}

.projects-fcard p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.projects-fcard * {
    color: #9EB384;
}

.projects-text {
    margin-right: 1rem;
    margin-bottom: 0;
}

.projects-fcard h3 {
    margin-right: 0.5rem;
}

.link-flex-container {
    display: flex;
    gap: 0;
}

.link-flex-container a img {
    margin-top: 1.2rem;
    margin-left: 0;
    display: block;
}

#footer-logo-flex-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

/* skills container styling */
#skills-container {
    width: 100%;
}

#skills-grid-container {
    display: grid;
    grid-template-columns: 7rem 7rem 7rem;
    grid-template-rows: 10rem 10rem;
    row-gap: 2rem;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
}

.s-gcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    background-color: #FAF1E4;
    border-radius: 10px;
}

.s-gcard {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);
}

.s-gcard:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 16px 50px 0 rgba(0,0,0,0.19);
}

.s-gcard p {
    color: #9EB384;
}

#projects-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 3rem;
    row-gap: 1.5rem;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
}

.projects-gcard {
    background-color: #FAF1E4;
    border-radius: 10px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.24), 0 4px 12px 0 rgba(0,0,0,0.19);
    padding: 0 0 10px 0;
}

.all-projects {
    grid-column: span 2;
}

.all-projects button {
    background-color: #FAF1E4;
    color: #9EB384;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.24), 0 4px 12px 0 rgba(0,0,0,0.19);
    font-size: 1rem;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.all-projects button:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* timeline styling */

#timeline {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
}

.timeline-details {
    font-weight: 300;
}
  
/* The actual timeline (the vertical ruler) */
#timeline::after {
    content: '';
    position: absolute;
    width: 0.5rem;
    background-color: #FAF1E4;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
}
  
@media (min-width: 787px) {
    /* Container around content */
    .t-container {
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 50%;
    }

    /* The circles on the timeline */
    .t-container::after {
        content: '';
        background-image: url(./images/cherry-blossom.png);
        background-size: cover;
        position: absolute;
        width: 50px;
        height: 50px;
        right: -26px;
        /*background-color: #9EB384;
        border: 4px solid #FAF1E4;
        border-radius: 50%;*/
        top: 15px;
        z-index: 1;
    }
    
    /* Place the container to the left */
    .left {
        left: -80px;
    }
    
    /* Place the container to the right */
    .right {
        left: 50%;
    }
    
    /* Add arrows to the left container (pointing right) */
    .left::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 31px;
        border: medium solid #FAF1E4;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent #FAF1E4;
    }
    
    /* Add arrows to the right container (pointing left) */
    .right::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 31px;
        border: medium solid #FAF1E4;
        border-width: 10px 10px 10px 0;
        border-color: transparent #FAF1E4 transparent transparent;
    }
    
    /* Fix the circle for containers on the right side */
    .right::after {
        left: -26px;
    }
  
}

/* The actual content */
.t-content {
    padding: 20px 30px;
    background-color: #FAF1E4;
    color:#9EB384;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);
}

.t-content h3 {
    color:#9EB384;
}

.t-content p {
    color:#9EB384;
}

.t-content li {
    color:#9EB384;
    font-size: 0.9rem;
}

.t-content strong {
    color:#9EB384;
}

.t-content:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 16px 50px 0 rgba(0,0,0,0.19);
}

/*#timeline {
    max-width: 1000px;
    justify-self: center;
}

.timeline-flex-container {
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
}

.timeline-card{
    position: relative;
    margin-bottom: 50px;
}

.timeline-left::before {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #FAF1E4;
    top: 0;
    bottom: 0;
    left: 350px;
}

.timeline-left::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #FAF1E4;
    border-radius: 50%;
    top: 0;
    margin-top: 3rem;
    left: 342px;
    margin-left: -10;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.timeline-left {
    flex: 1.5;
}

.timeline-right {
    flex: 2.5;
}

.timeline-title {
    font-weight: bolder;
}

.timeline-date {
    font-weight: 100;
}

.timeline-description{
    padding: 0;
    list-style-type: unset;
}

/*#timeline-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 auto;
    padding: 40px 20px;
    max-width: 800px;
}

.timeline-title {
    font-weight: bold;
}

.timeline-left {
    border-right: 2px solid #FAF1E4;
}
*/
/*
#timeline {
    position: relative;
    margin: 0 auto;
    padding: 40px 20px;
    max-width: 800px;
}

#timeline > * {
    max-width: 800px;
}

#timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #FAF1E4;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

.timeline-card{
    position: relative;
    margin-bottom: 50px;
}

.timeline-left.timeline-card::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #FAF1E4;
    border-radius: 50%;
    top: 0;
    left: 50%;
    margin-left: -10px;
}

.timeline-left.timeline-card {
    left: 0%;
}

.timeline-right.timeline-card {
    left: 55%;
}

.timeline-title {
    font-weight: bold;
} */

/* contact me styling */
/*#contact-me-container {
    position: relative;
}

#contact-bg-img {
    z-index: -20;
}

.contact-form {
    position: absolute;
    background-color: #FAF1E4;
}

#contact-me-container h2 {
    position: absolute;
    color: aqua;
}*/

#contact-me-container {
    background-image: url(./images/contact-me.png);
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

    min-height: 50rem;
    min-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

#contact-form {
    background: #FAF1E4;
    border-radius: 10px;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);

    position: absolute;
    right: 0;
    padding: 2rem 5rem;
    padding-left: 3rem;
    margin-top: 5rem;
    margin-right: 5rem;
}

#contact-form *{
    color: #9EB384;
}

input, textarea, #contact-button {
    margin-bottom: 1rem;
}

input[type=text], [type=email], textarea {
    height: 1rem;
    width: 90%;
    padding: 15px;
    border: 2px solid #9EB384;
    border-radius: 10px;
}

textarea {
    resize: vertical;
}

#message {
    height: 5rem;
}

#contact-button {
    background: #9EB384;
    color: #FAF1E4;
}

::-webkit-input-placeholder {
    color: lightgray;
}

::-moz-placeholder {
    color: lightgray;
}

:-ms-input-placeholder {
    color: lightgray;
}

::-ms-input-placeholder {
    color: lightgray;
}

::placeholder {
    color: lightgray;
}

/* Mobile CSS (less than 787px but more than 480px) */
@media (min-width : 480px) and (max-width: 787px) {
    p{
        font-size: 1.1rem;
    }
    
    .title {
        font-size: 3rem;
        margin-bottom: 0;
    }
    
    .subtitle {
        font-size: 1.1rem;
        width: 100%;
        margin: 0;
    }

    h2 {
        font-size: 2rem;
        border-bottom: #FAF1E4 2px solid;
    }

    h3 {
        font-size: 1.5rem;
    }

    button {
        font-size: 1rem;
        padding: 8px;
    }

    /* nav bar mobile */
    #nav {
        overflow: hidden;
        background-color: #9EB384;
        /*position: relative;*/
        border-bottom: 2px solid #FAF1E4;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 2;
    }
      
    #nav-links {
        display: none;
    }

    #nav-links a {
        font-size: 1.5rem;
        padding-top: 0 !important;
    }
      
    #nav a {
        color: #FAF1E4;
        padding: 1rem 4rem 1rem;
        text-decoration: none;
        display: block;
        font-family: 'DM Serif Display', serif;
    }
      
    #nav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 1.7rem;
    }
    
    #favicon {
        font-family: "Fleur De Leah", cursive !important;
        font-size: 4rem;
    } 

    /*.fa.fa-bars {
        font-size: 2rem;
    }*/

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #FAF1E4;
        margin: 6px 0;
        transition: 0.4s;
    }
      
    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }
      
    .change .bar2 {
        opacity: 0;
    }
      
    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }

    /* home section mobile*/
    .home-text {
        width: 100%;
    }

    #cherry-blossom-1 {
        top: -800px;
        left: -66px;
        animation: enter1 5s;
    }

    #cherry-blossom-2 {
        top: -780px;
        right: -66px;
        animation: enter2 5s;
    }

    @keyframes enter1 {
        from {left: -400px} 
        to {left:-66px}
    }
    
    @keyframes enter2 {
        from {right: -400px} 
        to {right:-66px}
    }

    /*.blossoms {
        display: none;
    }*/

    .cherry-blossom-flower {
        width: 2rem;
        left: 200px;
    }

    .vertical-flex-container {
        margin: 2rem 4rem 1rem;
    }

    .v-fcard {
        margin-top: 3rem;
        padding-top: 0
    }

    #home-flex-container {
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    
    #logo-flex-container {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .logo-images {
        width: 30px;
    }

    /* about me section mobile */
    .about-flex-container {
        flex-wrap: wrap;
        gap: 0rem;
    }

    #skills-grid-container {
        /*row-gap: 7rem;
        column-gap: 5rem;*/
        grid-template-columns: 27% 27% 27%;
        grid-template-rows: auto auto;
    }

    .s-gcard {
        /*padding: 110px 80px;*/
    }

    .s-gcard p {
        margin: 10px 20px;
    }
    
    /* timeline section mobile */
    .t-content {
        z-index: 1;
        margin-bottom: 6rem;
    }

    .t-content li {
        font-size: 0.9rem;
    }

    /* projects section mobile */
    #projects {
        margin-top: 0;
    }

    #projects h2 {
        margin-top: 0;
    }

    .projects-fcard p {
        font-size: 1.1rem;
    }

    .all-projects button {
        font-size: 1.1rem;
        width: 100%;
        height: 100%;
    }

    #projects-grid-container {
        display: flex;
        flex-direction: column;
    }

    .projects-flex-container {
        flex-direction: column;
        padding: 20px;
        gap: 0;
        align-items: center;
    }

    .link-flex-container {
        align-items: end;
    }

    .img-stack {
        grid-template-columns: 0fr;
    }

    .projects-banner, .projects-img {
        margin: 0;
    }

    .projects-banner {
        width: 10rem;
    }

    .projects-img {
        width: 30rem;
    }

    /* contact me section mobile */
    label {
        font-size: 1rem;
    }

    input, textarea {
        font-size: 0.8em;
    }

    input[type=text], [type=email], textarea {
        height: 1rem;
    }

    #contact-me {
        margin-top: 6rem;
    }

    #contact-form {
        margin-right: 2rem;
        padding: 1rem 3rem;
    }
}

/* Mobile CSS (less than 480px) */
@media (max-width: 480px) {
    p{
        font-size: 1.5rem;
    }
    
    .title {
        font-size: 4rem;
        margin-bottom: 0;
    }
    
    .subtitle {
        color: #9EB384;
        font-size: 1.5rem;
        width: 100%;
        margin: 0;
    }

    h2 {
        font-size: 3rem;
        border-bottom: #FAF1E4 2px solid;
    }

    h3 {
        font-size: 2rem;
    }

    button {
        font-size: 1.2rem;
        padding: 10px;
    }

    /* nav bar mobile */
    #nav {
        overflow: hidden;
        background-color: #9EB384;
        /*position: relative;*/
        border-bottom: 2px solid #FAF1E4;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 2;
    }
      
    #nav-links {
        display: none;
    }

    #nav-links a {
        font-size: 2rem;
        padding-top: 1rem !important;
    }
      
    #nav a {
        color: #FAF1E4;
        padding: 1rem 4rem 1rem;
        text-decoration: none;
        display: block;
        font-family: 'DM Serif Display', serif;
    }
      
    #nav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 3rem;
    }
    
    #favicon {
        font-family: "Fleur De Leah", cursive !important;
        font-size: 6rem;
    } 

    /*.fa.fa-bars {
        font-size: 2rem;
    }*/

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #FAF1E4;
        margin: 6px 0;
        transition: 0.4s;
    }
      
    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }
      
    .change .bar2 {
        opacity: 0;
    }
      
    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }

    /* home section mobile*/
    .home-text {
        width: 100%;
    }

    #cherry-blossom-1 {
        top: -950px;
        left: -66px;
        animation: enter1 5s;
    }

    #cherry-blossom-2 {
        top: -900px;
        right: -66px;
        animation: enter2 5s;
    }

    @keyframes enter1 {
        from {left: -375px} 
        to {left:-66px}
    }
    
    @keyframes enter2 {
        from {right: -375px} 
        to {right:-66px}
    }

    /*.blossoms {
        display: none;
    }*/

    .cherry-blossom-flower {
        width: 2rem;
        left: 290px;
    }

    .vertical-flex-container {
        margin: 2rem 4rem 1rem;
    }

    .v-fcard {
        margin-top: 3rem;
        padding-top: 0;
    }

    #home-flex-container {
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    
    #logo-flex-container {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .logo-images {
        width: 42px;
    }

    /* about me section mobile */
    .about-flex-container {
        flex-wrap: wrap;
        gap: 0rem;
    }

    #skills-grid-container {
        /*row-gap: 7rem;
        column-gap: 5rem;*/
        grid-template-columns: 27% 27% 27%;
        grid-template-rows: auto auto;
    }

    .s-gcard {
        /*padding: 110px 80px;*/
    }

    .s-gcard p {
        margin: 10px 20px;
    }
    
    /* timeline section mobile */
    .t-content {
        z-index: 1;
        margin-bottom: 3rem;
    }

    .t-content li {
        font-size: 1.3rem;
    }

    /* projects section mobile */
    #projects {
        margin-top: 0;
    }

    .projects-fcard p {
        font-size: 1.5rem;
    }

    .all-projects button {
        font-size: 1.5rem;
        width: 100%;
        height: 100%;
    }

    #projects-grid-container {
        display: flex;
        flex-direction: column;
    }

    .projects-flex-container {
        flex-direction: column;
        padding: 20px;
        gap: 0;
        align-items: center;
    }

    .link-flex-container {
        align-items: end;
    }

    .img-stack {
        grid-template-columns: 0fr;
    }

    .projects-banner, .projects-img {
        margin: 0;
    }

    .projects-banner {
        width: 10rem;
    }

    .projects-img {
        width: 30rem;
    }

    /* contact me section mobile */
    label {
        font-size: 1.5rem;
    }

    input, textarea {
        font-size: 1.2rem;
    }

    input[type=text], [type=email], textarea {
        height: 1rem;
    }

    #contact-me {
        margin-top: 6rem;
    }

    #contact-form {
        margin-right: 2rem;
        padding: 1rem 3rem;
    }
}